@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

$breakpoints: (phone: 640px,
    tablet: 768px,
    desktop: 1024px) !default;

$brand: #82960F;
$brand-light: #b4c747;
$brand-dark: #516800;
$background: #2C2C2C;
$background-light: #3D3D3D;
$background-dark: #1f1f1f;
$font: rgba(255, 255, 255, 0.9);
$font-dark: rgba(255, 255, 255, 0.75);

body {
    font-family: 'Montserrat', sans-serif;
    background: $background;
    color: $font;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

h1 {
    color: $brand;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    font-size: 2.5rem;
    margin: 0rem;
    padding: 0;
}

h2 {
    color: $font;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    font-size: 2rem;
    margin: 0rem;
    padding: 0;
}

h3 {
    color: $font;
    text-transform: uppercase;
    font-weight: 200;
    text-align: center;
    font-size: 1.5rem;
    margin: 0rem;
    padding: 0;
}

small {
    text-align: center;
    display: block;
}

a,
a:link,
a:visited,
a:active {
    color: $brand;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

a:hover {
    color: $brand-light;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

// ********************************************
.mb-8 {
    margin-bottom: 8rem;
}

.mb-7 {
    margin-bottom: 7rem;
}

.mb-6 {
    margin-bottom: 6rem;
}

.mb-5 {
    margin-bottom: 5rem;
}

.mb-4 {
    margin-bottom: 4rem;
}

.mb-3 {
    margin-bottom: 3rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

// ********************************************

.col {
    flex: 1;
}

.row {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
}

.center {
    align-items: center;
    justify-content: center;
}

.page-heading {
    margin: 1.5rem 0rem 3rem 0rem;
}

.warning {
    color: #ff8300;
}

.tile {
    flex: 1;
    background-color: $brand;
    margin: 1rem;
    text-align: center;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    cursor: pointer;

    &.small {
        background-color: darken($brand, 10) !important;
        padding: 1.25rem;
        margin: 0.75rem;
        flex: 0;
    }

    a {
        padding: 2rem;
        user-select: none;
    }

    .pp-tile {
        padding: 2rem;
        height: auto;
    }

    a,
    div {
        color: $font;
        width: 100%;
        height: auto;
    }



    &:hover {
        background-color: $brand-light;
    }

    &.disabled:hover,
    &.disabled {
        background-color: $brand;
        cursor: default !important;
    }

    i {
        display: block;
        font-size: 3rem;
        margin-bottom: 1rem;
    }

    i.text {
        font-size: 2rem;
    }

    span {
        display: block;
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: 600;
    }
}

.code {
    margin: 0.5rem 0rem 1.5rem;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    background-color: $background-light;
    padding: 1rem;
    border: 2px solid $background-dark;
    border-radius: 0.3rem;
    color:$font-dark;
}

.responsive-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    /* Default for 1600x900 videos 16:9 ratio*/
    padding-top: 0px;
    height: 0;
    overflow: hidden;
    min-width: 500px;
}

img {
    width: 100%;
    height: auto;
    min-width: 500px;
}

footer {
    text-align: center;
    line-height: 25px;
}

.menu-item {
    display: none;
}

.background-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 250px;
    border: 3px solid $background;

    a {
        span {
            font-size: 2rem;
            color: $brand;
            background-color: rgba(44, 44, 44, 0.85);
            padding: 1rem;

            &.label-small {
                font-size: 1.2rem;
                padding: 0rem 1rem 1rem 1rem;
            }
        }
    }

    &:hover a span,
    &.active a span {
        color: $brand-light;
    }

    &.active {
        border-color: $brand-light;
    }
}

table {
    width: 100%;

    td,
    th {
        border: 2px solid #1f1f1f;
        padding: 4px 14px;
        background: #3D3D3D;
        text-align: left;
    }

    &.inframe {
        width: auto;

        td,
        th {
            border: 2px solid rgba(255, 255, 255, 0.3);
            padding: 4px 14px;
            background: #3D3D3D;
            text-align: left;
        }
    }
}


.expand {
    cursor: pointer;
}

.hidden {
    display: none;
}

#table-keys-hint {
    color: $brand;

    &:hover {
        color: $brand-light;
    }
}